/* Mobile (up to 480px) */
@media screen and (max-width: 480px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  .nav__list {
    inline-size: 100%;
  }
}

/* Tablet (481px to 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 5.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.6rem; /* 1rem */
  }

  .nav__list {
    inline-size: 80%;
  }
}

/* Small desktop (769px to 1080px) */
@media screen and (min-width: 769px) and (max-width: 1080px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4,
  h5,
  h6 {
    font-size: 2rem;
  }

  p {
    font-size: 1.8rem;
  }

  .nav__list {
    inline-size: 60%;
  }
}

@media screen and (max-width: 1080px) {
  .nav__list {
    background-color: var(--bg-dark);
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    gap: 0;
    z-index: 9999;
  }

  .nav__list-child {
    position: relative;
  }

  .nav__list-item {
    a {
      padding: var(--p-lg) var(--p-md);
    }
  }
}

/* Large desktop (1081px and up) */
@media screen and (min-width: 1081px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 6.8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  p {
    font-size: 2rem;
  }

  .nav__toggler {
    display: none;
  }

  .banner__section {
    max-inline-size: 50%;
  }

  .page-footer {
    flex-direction: row;
  }
}
