<head>
  <link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
  <div class="user-info wrapper d-flex justify-center flex-wrap gap-xl">
    <div class="user-info__img-wrapper d-flex align-center gap-xl">
      <img class="user-info__img" src="assets/img/progress-icon.png" />
      <p>Scheme Progress</p>
    </div>

    <div class="user-info__img-wrapper d-flex align-center gap-xl">
      <img class="user-info__img" src="assets/img/dashboard-icon.png" />
      <p>Nutrient Dashboard</p>
    </div>

    <div class="user-info__img-wrapper d-flex align-center gap-xl">
      <img class="user-info__img" src="assets/img/success-icon.png" />
      <p>Success Stories</p>
    </div>

    <div class="user-info__img-wrapper d-flex align-center gap-xl">
      <img class="user-info__img" src="assets/img/labs-icon.png" width="32" />
      <p>Locate Soil Testing Labs</p>
    </div>

    <div class="user-info__img-wrapper d-flex align-center gap-xl">
      <img class="user-info__img" src="assets/img/fertilizer-icon.png" />
      <p>Fertilizer Recommendation</p>
    </div>
  </div>

  <section class="announcement wrapper">
    <h2 class="announcement__title">📢 Announcements</h2>

    <hr />

    <!-- <marquee behavior="scroll" direction="left" scrollamount="4"> -->
    <div class="d-flex flex-wrap gap-md">
      <div class="announcement__content">
        Operational Guidelines For Pradhan Mantri Rashtriya Krishi Vikas Yojana
        (PM-RKVY)(14/11/2024)
        <span class="badge-new">New</span>
        <div>
          <hr />
          <a
            class="btn btn-secondary d-flex align-center justify-center"
            href=""
            >Follow Link

            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </div>
      </div>

      <div class="announcement__content">
        Web Application Security Audit Compliance (23/12/2024)
        <span class="badge-new">New</span>
        <div>
          <hr />
          <a class="btn btn-secondary" href=""
            >Follow Link
            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </div>
      </div>

      <div class="announcement__content">
        School Soil Health Programme-1000 Schools (02/01/2024)
        <span class="badge-new">New</span>
        <div>
          <hr />
          <a class="btn btn-secondary" href=""
            >Follow Link
            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- </marquee> -->
  </section>
</body>
