<head>
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="stylesheet" href="../../css/media.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
</head>
<body>
  <main class="banner d-flex flex-col wrapper">
    <nav class="nav d-flex align-center gap-md">
      <div class="logo-wrapper d-flex align-center gap-md">
        <img
          class="nav__logo fill-white"
          src="../../assets/img/svg/rajmudra-light.svg"
          alt="govt"
        />

        <div>
          <p class="nav__title">
            <span class="flag-top">Government</span>
            <span class="flag-mid">of</span>
            <span class="flag-bottom">India</span>
          </p>

          <p class="nav__logo-text">
            Ministry of Agriculture and Farmers Welfare
          </p>

          <p class="nav__logo-text">
            Department of Agriculture and Farmers Welfare
          </p>
        </div>
      </div>

      <ul class="nav__list d-flex">
        <li class="nav__list-item">
          <a href="#">Home</a>
        </li>

        <li class="nav__list-item">
          <a href="#">Legacy Dashboard</a>
        </li>

        <li class="nav__list-item">
          <a href="#">Resource Material</a>
        </li>

        <li class="nav__list-item">
          <a href="#">School SHC</a>
        </li>

        <li class="nav__list-item">
          <a href="#">Related Links</a>
        </li>

        <li class="nav__list-item">
          <a href="#">Gallery</a>
        </li>

        <li class="nav__list-item">
          <a href="#"
            >More

            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>

          <ul class="nav__list-child">
            <li class="nav__list-child__item">
              <a href="#">Contact Us</a>
            </li>

            <li class="nav__list-child__item">
              <a href="#">About Us</a>
            </li>
          </ul>
        </li>
      </ul>

      <span class="nav__toggler">
        <svg
          class="icon icon-lg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
        >
          <path
            d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
          />
        </svg>
      </span>
    </nav>

    <div class="banner__section d-flex flex-col">
      <h1 class="banner__heading">Soil Health Care</h1>

      <div>
        <p class="banner__tagline">
          Empowered 10+ million farmers with data-driven insights to optimize
          their yields, conserve resources, and build a sustainable future for
          agriculture.
        </p>
      </div>

      <div class="d-flex justify-center gap-md">
        <a class="btn btn-primary"
          >Sign-up

          <svg
            class="icon icon-md"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
          >
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
          </svg>
        </a>
        <a class="btn btn-primary"
          >Create Card

          <svg
            class="icon icon-md"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
          >
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
          </svg>
        </a>
      </div>
    </div>
  </main>
  <script src="../../js/main.js"></script>
</body>
