<head>
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="stylesheet" href="../../css/media.css" />
</head>
<body>
  <footer class="page-footer wrapper d-flex flex-col">
    <div class="page-foot__section-1 d-flex flex-col gap-xl">
      <div class="d-flex align-center gap-md">
        <img
          class="nav__logo fill-white"
          src="../../assets/img/svg/rajmudra-light.svg"
          alt="govt"
        />

        <div class="">
          <p class="nav__logo-heading">
            <span class="flag-top">Government</span>
            <span class="flag-mid">of</span>
            <span class="flag-bottom">India</span>
          </p>

          <p class="nav__logo-text">
            Ministry of Agriculture and Farmers Welfare
          </p>

          <p class="nav__logo-text">
            Department of Agriculture and Farmers Welfare
          </p>
        </div>
      </div>

      <div class="org-logo d-flex">
        <div class="org-logo__img-wrapper">
          <img
            class="org-logo__img"
            src="../../assets/img/shc-CRJdFe3H.png"
            alt=""
          />
        </div>
        <div class="org-logo__content">
          <h6 class="org-logo__title">Soli Health Care</h6>
          <span class="org-logo__tagline">Healthy Earth, Greener Farm</span>
        </div>
      </div>
    </div>

    <div class="page-foot__section-2">
      <ul class="page-foot__list d-flex gap-md">
        <li><a class="page-foot__list-item" href="">Home</a></li>
        <li><a class="page-foot__list-item" href="">Legacy Dashboard</a></li>
        <li>
          <a class="page-foot__list-item" href=""
            >School SHC
            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </li>
        <li>
          <a class="page-foot__list-item" href=""
            >Resource

            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </li>
        <li><a class="page-foot__list-item" href="">Contact Us</a></li>
        <li>
          <a class="page-foot__list-item" href=""
            >Soil Map (Beta)
            <svg
              class="icon icon-md"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 -960 960 960"
            >
              <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
            </svg>
          </a>
        </li>

        <li><a class="page-foot__list-item" href="">About Us</a></li>
        <li><a class="page-foot__list-item" href="">Site Map</a></li>
        <li><a class="page-foot__list-item" href="">Privacy Policy</a></li>
      </ul>

      <div class="footer-section2__wrapper">
        <div class="d-flex justify-center align-center flex-wrap gap-md">
          <a class="footer__link d-flex align-center" href="">
            <div class="icon-wrapper">
              <svg
                class="icon icon-md fill-white"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
              >
                <path
                  d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240ZM330-120 120-330v-300l210-210h300l210 210v300L630-120H330Zm34-80h232l164-164v-232L596-760H364L200-596v232l164 164Zm116-280Z"
                />
              </svg>
            </div>
            <span>Report an Issue</span></a
          >
          <a class="footer__link d-flex align-center" href="">
            <div class="icon-wrapper">
              <svg
                class="icon icon-md fill-white"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
              >
                <path
                  d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"
                />
              </svg>
            </div>
            <span>Write us a Mail</span></a
          >
          <a class="footer__link d-flex align-center" href="">
            <div class="icon-wrapper">
              <svg
                class="icon icon-md fill-white"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -960 960 960"
              >
                <path
                  d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"
                />
              </svg>
            </div>
            <span>01169270912</span></a
          >
        </div>
        <hr />
        <div class="d-flex flex-col gap-xl">
          <p>
            Designed, Developed and Maintained by Krishitantra. Information and
            data in this application is managed by State Agricultural
            Departments and Department of Agriculture and Farmers Welfare. STCR
            formulae and other related information for generation of Soil Health
            Cards have been provided by Indian Council of Agricultural Research.
          </p>
          <div>
            <p>
              For best experience view site in
              <span class="fw-medium">1024×1080</span> resolution.
            </p>
            <p>
              Supports all modern browsers
              <span class="fw-medium">Chrome v84+</span>,
              <span class="fw-medium">Safari 4+</span>,
              <span class="fw-medium">Mozilla Firefox V90+</span>
              .
            </p>
          </div>
          <h5>Visitors: 1517150</h5>
        </div>
      </div>
    </div>
  </footer>
</body>
