<head>
  <link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
  <section class="related-links wrapper">
    <h2>Important Links</h2>
    <div class="d-flex flex-wrap justify-center gap-lg">
      <a class="link" href="">
        <span class="link__img-wrapper"
          ><img class="link__img" src="../../assets/img/ks-D4Bde1Ga.png" alt=""
        /></span>
        <span class="link__content"> Kisan Suvidha </span>
      </a>

      <a class="link" href="">
        <span class="link__img-wrapper"
          ><img
            class="link__img"
            src="../../assets/img/mfms-Bevthko8.png"
            alt=""
        /></span>
        <span class="link__content">
          Integrated Fertilizer Management System
        </span>
      </a>

      <a class="link" href="">
        <span class="link__img-wrapper"
          ><img class="link__img" src="../../assets/img/mk-2fJrc4Zj.png" alt=""
        /></span>
        <span class="link__content"> MKisan </span>
      </a>

      <a class="link" href="">
        <span class="link__img-wrapper"
          ><img class="link__img" src="../../assets/img/py-Gjink7RW.png" alt=""
        /></span>
        <span class="link__content"> Pradhan Mantri Fasal Bima Yojana </span>
      </a>

      <a class="link" href="">
        <span class="link__img-wrapper"
          ><img
            class="link__img"
            src="../../assets/img/dsc-D6pHuh-y.png"
            alt=""
        /></span>
        <span class="link__content"> Digital Seva Connect </span>
      </a>
    </div>
  </section>
</body>
