<head>
  <link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
  <nav class="nav wrapper d-flex justify-center align-center gap-md">
    <div class="d-flex align-center gap-md">
      <img
        class="nav__logo"
        src="../../assets/img/svg/rajmudra.svg"
        alt="govt"
      />

      <div>
        <h2 class="nav__title">
          <span class="flag-top">Government</span>
          <span class="flag-mid">of</span>
          <span class="flag-bottom">India</span>
        </h2>

        <p class="nav__logo-text">
          Ministry of Agriculture and Farmers Welfare
        </p>

        <p class="nav__logo-text">
          Department of Agriculture and Farmers Welfare
        </p>
      </div>
    </div>

    <div class="d-flex align-center gap-md">
      <img
        class="nav__logo"
        src="../../assets/img/svg/soil-health.svg"
        alt=""
      />
      
      <h1 class="nav__title">Soil Health Card</h1>
    </div>

    <ul class="nav__list d-flex">
      <li class="nav__list-item">
        <a class="btn btn-primary" href="#">Submit Ticket</a>
      </li>

      <li class="nav__list-item">
        <a class="btn btn-primary" href="#">Log-in</a>
      </li>
    </ul>
  </nav>
</body>
