<head>
  <link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
  <section class="success wrapper">
    <h2 class="success__heading">Our Success</h2>

    <div class="d-flex flex-gap-xl align-center">
      <a class="success-card card-success" href="#">
        <div class="success-card__header">
          <h3>Success Stories</h3>
        </div>
        <div class="success-card__body">
          Milestones achieved, farming transformed. See the impact.
        </div>
        <div class="success-card__footer"></div>

        <div class="icon-wrapper">
          <svg
            class="icon icon-lg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
          >
            <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
          </svg>
        </div>
      </a>

      <a class="success-card card-growth" href="#">
        <div class="success-card__header">
          <h3>Scheme Progress</h3>
        </div>
        <div class="success-card__body">
          Milestones achieved, farming transformed. See the impact.
        </div>
        <div class="success-card__footer"></div>

        <div class="icon-wrapper">
          <svg
            class="icon icon-lg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 -960 960 960"
          >
            <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
          </svg>
        </div>
      </a>

      <a class="success-card card-guide" href="#">
        <div class="success-card__header">
          <h3>Fertilizer Guide</h3>
        </div>
        <div class="success-card__body">
          Milestones achieved, farming transformed. See the impact.
        </div>
        <div class="success-card__footer"></div>

        <div class="icon-wrapper">
          <svg
            class="icon icon-lg"
            xmlns="http://www.w3.org/2000"
            viewBox="0 -960 960 960"
          >
            <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
          </svg>
        </div>
      </a>
    </div>
  </section>
</body>
